.App {
  min-height: 100vh;
  background: #000000 !important;
  color: #ffffff;
}

* {
  background-color: transparent;
}

body, html, #root, .App {
  background: #000000 !important;
  margin: 0;
  padding: 0;
}
